.cart-main{
    padding:10px 5px 10px 5px;
    max-width: 1024px;
    margin: 0 auto;
    min-height: 50vh;
    
    /* border: 1px solid red; */
}

.cart-main{
  margin-top:155px;
}

@media screen and (max-width: 750px) {
  .cart-main {
      margin-top:105px;
  }
}


.cart_checkout{
    display : grid;
    grid-template-columns: 65% 30%;
    gap: 5%;
    margin: 50px 0px 10px 5px;
}

.cart-box{
    border: 1px solid #f1f3f4;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 5%;
    padding: 20px;
    margin: 5px;
    /* cursor: pointer; */
}
.cart-image > img{
    width : 150%;
}
.cart-title{
    /* border: 3px solid #7d150e; */
    padding: 0px 0px 0px 20px;
}
.cart_brand{
    margin-top: -10px;
    margin-bottom:40px;

}
.cart_brand_price{
    display: flex;
    justify-content: space-between;
}

.cart_price{
    margin-top: -30px;
    float: right;
}

.cart_brand_discount{
    display: flex;
}

.cart_brand_discount > p{
    /* display: flex; */
    margin-left: 10px;
}

.cart_discount{
    color: red
}
.delete_title{
    display: grid;
    grid-template-columns: 98% 2%;
}


.delete_title > div > h5 {
    color: #9e9e9e;
    margin-top: -10px;
}

.cart-delete{
    display: flex;
    margin-top: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-left: 5px;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.cart_product_time{
    margin: -30px 0px 30px 0px;
    display: flex;
    color: #9e9e9e;
}
.cart_product_time p{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: -20px;
}

.cart_product_time  p span{
    /* font-size: 16px; */
    color: #000
}

.cart_pro_flash{
    color: #fdc944;
    border-radius: 20px;
    margin: 0px 10px 0px 0px;
    padding: -1px;
    box-shadow: 1px 1px 5px 2px #9E9E9E;

}

.Cart-Total-amount{
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.checkout-box{
    /* border: 1px solid rgb(109, 11, 11) */
}

.order_summ_all{
    margin-bottom: -3px;
    margin-top:-40px
}


.cart-delevery{
    background: #10847e;
    color: #fff;
    width: 300px;;
    height: 45px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    font-weight: 700;
    cursor: pointer;
    flex-shrink: 0;
    
}
.cart-delevery:hover {
    opacity: .9;
    background: #0a5753;
}



.cart-delevery{
    margin-bottom: 20px;
}



.free-delevery{

    background-color: #f2fff8;
    border: 1px dashed #3bb896;
    padding: 10px 15px;
    color: #3bb896;
    font-weight: 600;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}



/* new Delevery Address Style */


.delevery-form {
    background-color: rgb(231, 223, 223);
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 500px; */
    padding: 20px;
    margin-bottom: 10px;
    /* width: 720px; */
  }
  
  .delevery-title {
    color: rgb(131, 101, 101);
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
    margin-bottom: -5px;
  }
  
  .subtitle {
    color: rgb(188, 89, 89);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .del-input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 20px;
  }

  
  .del_input {
    background-color: #fff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #000;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .del-cut {
    background-color: rgb(231, 223, 223);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .del-cut-short {
    width: 50px;
  }
  
  .del_input:focus ~ .cut,
  .del_input:not(:placeholder-shown) ~ .cut {
    transform: translateY(18px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    font-size: 18px;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .del_input:focus ~ .placeholder,
  .del_input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .del_input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .del_input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .del_submit {
    background: #10847e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: -5px;
    /* outline: 0; */
    text-align: center;
    width: 100%;
  }
  
  .del_submit:active {
    background: #0a5753;
  }