.content-main{
    display:  flex;
    /* max-width: 1024px;
    margin: 0 auto;
    min-height: 50vh; */
    /*margin: 20px 20px 20px 20px;*/
}
.content-top{
    max-width: 1024px;
    margin: 0 auto;
    min-height: 50vh
}

.content-box{
    border:2px solid #000000;
    width: 350px;
    height: 180px;
    margin: 20px 20px 20px 20px;
}