.top-login{
    padding:10px 5px 10px 5px;
    max-width: 720px;
    margin: 0 auto;
    min-height: 50vh;
    font-family: 'Roboto', sans-serif !important;
  	box-sizing: border-box;
}


.top-login{
  margin-top:155px;
}

@media screen and (max-width: 750px) {
  .top-login {
      margin-top:105px;
  }
}








.login_form {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 4px 3px 20px #3535358c;
    border-radius: 20px;
    box-sizing: border-box;
    /* height: 400px; */
    padding: 20px;
    /* width: 720px; */
  }
  
  .login_title {
    color: #2f1828;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .login_subtitle {
    color: #2f1828;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .login_input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .login_ic1 {
    margin-top: 40px;
  }
  
  .login_ic2 {
    margin-top: 30px;
  }
  
  .login_input {
    background-color: #eee;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #2f1828;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .login_cut {
    background-color: #fff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
    font-size:50px;
    
  }
  
  .login_cut-short {
    width: 60px;
  }
  
  .login_input:focus ~ .login_cut,
  .login_input:not(:placeholder-shown) ~ .login_cut {
    transform: translateY(8px);
    box-shadow: 4px 3px 20px #3535358c;
  }
  
  .login_placeholder {
    color: #65657b;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 500;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .login_input:focus ~ .login_placeholder,
  .login_input:not(:placeholder-shown) ~ .login_placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .login_input:not(:placeholder-shown) ~ .login_placeholder {
    color: #808097;
  }
  
  .login_input:focus ~ .login_placeholder {
    color: #dc2f55;
  }
  
  .login_submit {
    background-color: teal;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 25px;
    height: 50px;
    margin-top: 38px;
    /* outline: 0; */
    text-align: center;
    width: 100%;
  }
  
  .login_submit:active {
    background-color: #0a5753;
  }

  .login_submit:hover {
    opacity: .9;
    background: #26A69A;
}