.main-nav{
    display: flex;
    align-items: center;
    text-Align: center;
    max-width: 1524px;
    margin: 0 auto;
    /* margin-left: -10px; */
    /* min-height: 50vh; */
}
.nav-search{
    display: flex;
    align-items: center;
    text-Align: center;
    max-width: 1024px;
    background-color: #fff;
    /* height: 30px; */
    /* padding-right: -50px; */
    margin: 20px auto;
    border: solid #fff 2px;
    border-radius: 9px;
    flex-grow: 2;
    /* border: none */
    
}

.nav-search div{
    height: 50px
}






.top-main-nav{
    display: grid;
    grid-template-columns: 12% 88%;
}



.nav-1{
    width : 550px;
    margin: 0px 30px 2px 300px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.nav-1 > Button {
    color: #fff;

}
.nav-2 > Button {
    color: #fff;

}
.nav-2{
    display: flex;
    width : 370px;
    margin: 0px 30px 0px 20px;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    
}

.nav-2 button h4{
    margin-right:7px;
    border: 1px solid white;
    width: 18px; 
    height: 18px;
    padding:2px;
    border-radius:12px;
    background-color: #fff;
    color:teal
}

.nav-cart-update{
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 7px;
    background-color: #f76b6d;
    position: absolute;
    right: -10px;
    line-height: 1;
    top: -10px;
    right: auto;
    left: 7px;
}